<app-navbar-admin></app-navbar-admin>

<div class="row p-5 custom-row">
    <div class="col-lg-10">
        
        <h2>EDITAR PRODUCTOS</h2>

        <div class="form-container mt-5">
            <form [formGroup]="productosForm" (ngSubmit)="editarProducto()">
                <div class="form-row">
                    <p class="bold"><label for=""><span class="red">*</span> Nombre del producto: </label></p>
                    <input class="input-text" type="text" placeholder="Ingrese el nombre del producto" formControlName="descripcion">

                    <div class="mensaje-error" *ngIf="enviado && myForm['descripcion'].errors?.['required']">
                        La descripción es un campo obligatorio
                    </div>
                </div>
    
                <div class="form-row mt-5">
                    <p class="bold"><label for=""><span class="red">*</span> Categoría: </label></p>
                    <select name="" id="" formControlName="categoria" class="filtro">
                        <option value="">Seleccione una categoria</option>
                        <option *ngFor="let categoria of categorias" value="{{ categoria.descripcion }}">{{ categoria.descripcion }}</option>
                    </select>
                    <div class="mensaje-error" *ngIf="enviado && myForm['categoria'].errors?.['required']">
                        La categoria es un campo obligatorio
                    </div>
                </div>
    
                <div class="form-row mt-5">
                    <p class="bold"><label for=""><span class="red">*</span> Precio: </label></p>
                    <input class="input-text" type="number" min="1" placeholder="Ingrese el nombre del producto" formControlName="precio">
                    <div class="mensaje-error" *ngIf="enviado && myForm['precio'].errors?.['required']">
                        El precio es un campo obligatorio
                    </div>

                    <div class="mensaje-error" *ngIf="enviado && myForm['precio'].errors?.['pattern']">
                        El precio no es válido
                    </div>
                </div>
    
                <div class="form-row mt-5">
                    <p class="bold"><label for="">Precio promo: </label></p>
                    <input class="input-text" type="number" min="1" placeholder="Ingrese el nombre del producto" formControlName="precioPromo">
                    <div class="mensaje-error" *ngIf="enviado && myForm['precio'].errors?.['pattern']">
                        El precio promo no es válido
                    </div>
                </div>
    
                <div class="form-row mt-5">
                    <p class="bold"><label for="">Precio min: </label></p>
                    <input class="input-text" type="number" min="1" placeholder="Ingrese el nombre del producto" formControlName="precioMin">
                    <div class="mensaje-error" *ngIf="enviado && myForm['precio'].errors?.['pattern']">
                        El precio ,om no es válido
                    </div>
                </div>
    
                <div class="form-row mt-5">
                    <button type="submit" class="btns btn-editar-producto">Editar</button>
                </div>
            </form>
        </div>
    </div>
</div>