<app-navbar-empleados *ngIf="origen === 'empleado'"></app-navbar-empleados>
<app-navbar-admin *ngIf="origen === 'admin'"></app-navbar-admin>

<section class="p-5" *ngIf="ventaSeleccionada">
    <div class="row custom-row">
        <h2>Editar ventas</h2>

        <div class="col-lg-4 mt-5">
            <h4>ID de venta: {{ ventaSeleccionada.idVenta }}</h4>
            <p>Sucursal: {{ ventaSeleccionada.sucursal }}</p>
            <p>Fecha: {{ ventaSeleccionada.fecha }}</p>
            <p>Hora: {{ ventaSeleccionada.hora }}</p>
        </div>
        <div class="col-lg-4 mt-5">
            <p><span class="bold">Cantidad general:</span>  {{ calcularCantidadGeneral() }}</p>
            <p><span class="bold">Total general:</span>  {{ calcularTotalGeneral() }}</p>
        </div>
        <div class="col-lg-4 mt-5">
            <div class="d-flex gap-3">
                <button (click)="imprimirTicket()" class="btn btn-success p-3">Imprimir ticket</button>
                <button (click)="editarVenta()" class="btn btn-warning p-3">Editar venta</button>
                <button (click)="eliminarVenta()" class="btn btn-danger p-3">Eliminar venta</button>
            </div>
        </div>
    </div>

    <div class="row custom-row mt-5">
        <div class="productos-vendidos-container">
            <div class="producto-card" *ngFor="let producto of ventaSeleccionada.productos">
                <h4 class="bold">{{ producto.nombreProducto }}</h4>

                <div class="producto-info">
                    <div>
                        <p><label for="cantidad">Cantidad:</label></p> 
                        <input [(ngModel)]="producto.cantidad" id="cantidad" type="number" class="input-text" min="1">
                    </div>
                    <div>
                        <p><label for="importe">Importe:</label></p> 
                        <input [(ngModel)]="producto.importe" id="importe" type="number" class="input-text" min="1">
                    </div>
                    <div>
                        <p><label for="total">Total:</label></p> 
                        <input id="total" type="number" class="input-text" value="{{ producto.cantidad * producto.importe }}" disabled>
                    </div>
                    <div class="card-controllers">
                        <i (click)="eliminarProductoVenta(producto)" class="bi bi-trash text-white"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
