<app-navbar-admin></app-navbar-admin>

<section class="p-5">
    <h2>VENTAS</h2>

    <div class="d-flex gap-3 ">
        <select class="filtro mt-4" name="" id="">
            <option value="0">Fechas</option>
            <option value="1">Hoy</option>
            <option value="2">Ayer</option>
            <option value="3">Últimos 7 días</option>
        </select>

        <button class="btns btn-exportar">Exportar</button>
    </div>

    <div class="mt-3 radio-buttons-container">
        <div class="radio-button-row">
            <input type="radio" name="radioVenta" class="">
            <label for="">Ventas generales</label>
        </div>

        <div class="mt-3 radio-button-row">
            <input type="radio" name="radioVenta" class="">
            <label for="">Ventas por producto</label>
        </div>
    </div>

    <div class="ventas-container mt-5">
        <div *ngFor="let venta of ventas" class="venta-card">
            <div class="card-controllers">
                <i routerLink="/admin-editar-ventas/{{ venta.idVenta }}" class="bi bi-pencil-square"></i>
            </div>
            <h4>ID de venta: {{ venta.idVenta }}</h4>
            
            <div class="informacion">
                <p>Sucursal: {{ venta.sucursal }}</p>
                <p>Fecha: {{ venta.fecha }}</p>
                <p>Hora: {{ venta.hora }}</p>
            </div>

            <p class="mt-5 bold">Productos vendidos: {{ venta.productos.length }}</p>

            <div class="productos-vendidos-container">
                <div *ngFor="let producto of venta.productos">
                    <p class="bold">{{ producto.nombreProducto }}</p>
    
                    <div class="producto-info">
                        <p>Cantidad: {{ producto.cantidad }}</p>
                        <p>Importe: ${{ producto.importe }}</p>
                        <p>Total: {{ producto.total }}</p>
                    </div>
                </div>
            </div>

            <div class="producto-info-footer mt-3">
                <p>Cantidad general: {{ venta.cantidadGeneral }}</p>
                <p>Cantidad general: ${{ venta.totalGeneral }}</p>
            </div>
        </div>

    </div>

</section>