<!-- <app-navbar-admin></app-navbar-admin> -->
<section class="p-5">
    <h2>Ventas por corte</h2>

    <div class="d-flex gap-3 ">
        <!-- <select class="filtro mt-4" name="" id="">
            <option value="0">Hoy</option>
            <option value="1">Ayer</option>
            <option value="">Últimos 7 días</option>
        </select> -->

        <button (click)="exportarPDF('Exportación de ventas del día ' + this.tiempo.getDate() +' a las ' + this.tiempo.getHora())" 
        *ngIf="ventasDespuesCorte.length" class="btns btn-exportar">
          Exportar
        </button>

        <button (click)="realizarCorte()" *ngIf="ventasDespuesCorte.length && ventasProductos==='ventasProducto'" class="btns btn-exportar">Realizar corte</button>
    </div>

    <div class="mt-5 radio-buttons-container">
      <div class="radio-button-row">
        <input id="radioVentasGeneral" type="radio" name="radioVenta" value="ventasGeneral" [(ngModel)]="ventasProductos">
        <label for="radioVentasGeneral">  Ventas generales</label>
      </div>

      <div class="mt-3 radio-button-row">
        <input id="radioVentasProducto" type="radio" name="radioVenta" value="ventasProducto" [(ngModel)]="ventasProductos">
        <label for="radioVentasProducto">  Ventas por producto</label>
      </div>
    </div>

    <app-ventas-general *ngIf="ventasProductos === 'ventasGeneral'" [ventas]="ventasDespuesCorte" [origen]="'empleado'"></app-ventas-general>

    <div *ngIf="ventasProductos === 'ventasProducto'" class="ventas-producto-container">
      <app-ventas-productos [ventasPorProducto]="ventasPorProducto"></app-ventas-productos>
    </div>

</section>