<app-navbar-empleados></app-navbar-empleados>

<section class="main-container">

    <div class="venta-container">
        <p class="venta-title">Venta</p>

        <div class="carrito-venta">
            <table *ngIf="carritoProductos.length" class="table">
                <thead>
                    <th>Producto</th>
                    <th>Cant</th>
                    <th>Importe</th>
                    <th>Total</th>
                </thead>

                <tbody>
                    <tr *ngFor="let producto of carritoProductos">
                        <td>{{ producto.producto.nombre }}</td>
                        <td class="d-flex gap-3 align-items-center">
                            <button class="control-buttons">-</button> {{ producto.cantidad }} <button class="control-buttons">+</button>
                        </td>
                        <td>${{ producto.producto.precio }}</td>
                        <td>${{ producto.cantidad * producto.producto.precio }}</td>
                        <td (click)="eliminarProducto(producto.producto.id)" class="quitar-carrito"><i class="bi bi-trash"></i></td>
                    </tr>
            </table>
        </div>

        <div class="despliegue-total">
            <div class="cantidad-precio">
                <p class="categoria">({{ getTotalProductos() }}) Total</p>
                <h2>${{ getTotal() }}</h2>
            </div>

            <div class="botones-total">
                <button class="btns btn-pagar">Pagar</button>
                <button class="btns btn-limpiar">Limpiar</button>
            </div>
        </div>
    </div>

    <div class="productos-container">
        <input type="text" class="input-text" placeholder="Buscar por nombre, categoría">

        <div class="dropdown mt-3">
            <button class="btn-filter btn btn-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span>Todos</span> 

                <div class="d-flex gap-2">
                    <span class="cantidad-producto">50</span>
                    <i class="bi bi-chevron-compact-down bold"></i>
                </div>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>

        <div class="mt-5">
            <p class="venta-title">Categoría</p>

            <div class="box-container">
                <div (click)="agregarProducto(producto)" *ngFor="let producto of productos" class="box">
                    <h3>ID: {{ producto.id }}</h3>

                    <div class="box-body">
                        <p class="categoria">{{ producto.categoria }}</p>
                        <p class="nombre-producto">{{ producto.nombre }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>