<app-navbar-empleados></app-navbar-empleados>

<section class="main-container">

    <!--Contenedor de ventas-->
    <div class="venta-container">
        <p class="venta-title">Venta</p>

        <div class="carrito-venta">

            <!--Tabla de de productos, carrito de compra-->
            <table *ngIf="carritoProductos.length" class="table">
                <thead>
                    <th>Producto</th>
                    <th>Cant</th>
                    <th>Importe</th>
                    <th>Total</th>
                </thead>

                <tbody>
                    <tr *ngFor="let producto of carritoProductos">
                        <td class="cursor" (click)="abrirModal(producto)">{{ producto.nombreProducto }}</td>
                        <td class="d-flex gap-3 align-items-center">

                            <button (click)="restarProducto(producto)" class="control-buttons">-</button> 
                                <span> {{ producto.cantidad }} </span>
                            <button (click)="sumarProducto(producto)" class="control-buttons">+</button>

                        </td>
                        <td>${{ producto.importe }}</td>
                        <td>${{ producto.cantidad * producto.importe }}</td>
                        <td (click)="eliminarProducto(producto.idProducto)" class="quitar-carrito"><i class="bi bi-trash"></i></td>
                    </tr>
            </table>
        </div>

        <!--Despliegue del total, botones de realizar compra y limpiar-->
        <div class="despliegue-total">
            <div class="cantidad-precio">
                <p class="categoria">({{ getTotalProductos() }}) Total</p>
                <h2>${{ getTotal() }}</h2>
            </div>

            <div class="botones-total">
                <button (click)="realizarCompra()" class="btns btn-pagar">Pagar <i class="bi bi-bag"></i></button>
                <button (click)="limpiarCarrito()" class="btns btn-limpiar">Limpiar</button>
            </div>
        </div>
    </div>
    
    <!--Imágen para la carga de productos-->
    <div *ngIf="loadingData" class="text-center">
        <img src="./assets/images/loading_image.gif" alt="Imagen de cargar">
        <h2>Cargando productos...</h2>
    </div>

    <!--Listado de productos-->
    <div *ngIf="!loadingData" class="productos-container">

        <!--Input de busqueda de texto-->
        <input [(ngModel)]="busquedaTexto" type="text" class="input-text" placeholder="Buscar por nombre">

        <select [(ngModel)]="categoriaSeleccionada" class="mt-3 filtro" name="" id="">
            <option value="todos">Todos</option>
            <option *ngFor="let categoria of categorias" value="{{ categoria.descripcion }}">{{ categoria.descripcion }}</option>
        </select>

        <div class="mt-5">
            <p class="venta-title">Categoría &gt; {{ categoriaSeleccionada }}</p>

            <div class="box-container">
                <div (click)="agregarProducto(producto)" *ngFor="let producto of filtrarCategoria()" class="box">
                    <h3>ID: {{ producto.idProductoNumerico ? producto.idProductoNumerico : producto.idProducto }}</h3>

                    <div class="box-body">
                        <p class="categoria">{{ producto.categoria }}</p>
                        <p class="nombre-producto">{{ producto.descripcion }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">

            <input 
                [(ngModel)]="numerosDisplay" 
                type="number" 
                id="input-numbers-modal" 
                placeholder="Ingrese la cantidad" 
                class="input-numbers" 
                disabled
            >
            </div>
            <div class="modal-body numbers-grid">
                <div *ngFor="let numero of numerosTecladoProductos" (click)="escribirNumeros(numero)">{{ numero }}</div>
                <div class="cero" (click)="escribirNumeros(0)">0</div>
                <div (click)="borrarNumeros()" class="borrar"><i class="bi bi-arrow-left"></i></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btns btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button (click)="guardarCambios()" data-bs-dismiss="modal" type="button" class="btns btn btn-success">Guardar cambios</button>
            </div>
        </div>
        </div>
    </div>

</section>