.main-container {
    display: grid;
    grid-template-columns: 40rem 1fr;
    height: 92vh;
}

.main-container > * {
    margin: 0.7rem;
    padding: 1.3rem;

    border-radius: 5px;
    background-color: var(--light-white-gray);
}

.venta-title {
    font-size: 2rem;
}

.carrito-venta {
    margin-top: 1rem;
    width: 100%;
    height: 60vh;
    overflow: scroll;

    border-bottom: 2px dotted var(--black);
}

.cantidad-precio {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table td,th {
    padding: 1.3rem;
}

.botones-total {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
    margin-top: 3rem;
}

.botones-total > * { height: 4.2rem; }
.btn-pagar { background-color: var(--main-purple); color: var(--light); }
.btn-pagar:hover { background-color: var(--main-purple-hover); }
.btn-limpiar { background-color: var(--dark); color: var(--light); }

.cantidad-producto {
    background-color: var(--light);
    color: black;
    padding: 2px;
    border: none;
    border-radius: 3px;
}

.btn-filter {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    text-align: left;
    width: 20rem;
}

.categoria { font-size: 1.2rem; }
.nombre-producto { font-size: 1.7rem; }

.box-body > *{
    margin: 0;
    padding: 0;
}

.box-container {
    height: 61vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    gap: 1.5rem;
    
    overflow: scroll;
}

.box {
    background-color: var(--light);
    border: 1px solid var(--gray);
    border-radius: 3px;
    height: 14rem; 
    padding: 1rem;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.control-buttons {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    border: none;
    background-color: var(--light);
    border: 1px solid var(--black);
}

.quitar-carrito {
    cursor: pointer;
}

.filtro {
    border: none;
    border-radius: 5px;
    color: var(--light);
    background-color: var(--dark);
    padding: 10px;
    width: 30rem;
}