.main-container {
    display: grid;
    grid-template-columns: 30rem 1fr;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--background);
}

.main-container > * {
    padding: 1rem;
    border-radius: 20px;
    background-color: var(--light);
    border: 2px solid var(--border-color);
    height: 85vh;
}

.productos-container {
    overflow-y: scroll;
    position: relative;
}

.productos-container::-webkit-scrollbar {
    display: none;
}

.venta-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
}

.empty-card {
    text-align: center;
}

.cart-icon-disabled {
    font-size: 3rem;
}

.disabled-color {
    color: var(--light-gray);
}

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap: 1.5rem;
    
}

.venta-title {
    font-size: 2rem;
}

.carrito-venta {
    margin-top: 1rem;
    width: 100%;
    overflow: scroll;
}

.carrito-venta::-webkit-scrollbar {
    display: none;
}

.cantidad-precio {
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table td,th {
    padding: 1.3rem;
}

table tbody tr {
    background-color: var(--light);
}

.botones-total {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
    margin-top: 3rem;
}

.botones-total > * { height: 4.2rem; }
.btn-pagar { background-color: var(--btn-primary); color: var(--light); font-weight: bold; }
/* .btn-pagar:hover { background-color: var(--main-purple-hover); } */
.btn-limpiar { 
    background-color: var(--dark); 
    color: var(--light);
    font-weight: bold;
    font-size: 2rem;
    padding: 0;
}

.btn-pagar.disabled {
    background-color: var(--light-gray);
    color: var(--dark);
    cursor: not-allowed;
}

.btn-limpiar.disabled {
    background-color: var(--light-gray);
    color: var(--dark);
    cursor: not-allowed;
}

.cantidad-producto {
    background-color: var(--light);
    color: black;
    padding: 2px;
    border: none;
    border-radius: 3px;
}

.btn-filter {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    text-align: left;
    width: 20rem;
}

.categoria { font-size: 1.2rem; }
.nombre-producto { font-size: 1.7rem; }

.box-body > *{
    margin: 0;
    padding: 0;
}

.box {
    background-color: var(--background);
    border: 3px solid var(--gray);
    border-radius: 20px;
    height: 14rem; 
    padding: 1rem;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.control-buttons {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    border: none;
    background-color: var(--light);
    border: 1px solid var(--black);
}

.quitar-carrito {
    cursor: pointer;
}

/*Estilos modal*/

.cursor {
    cursor: pointer;
}

.input-numbers {
    width: 100%;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid var(--gray);
    font-size: 2rem;
}

.numbers-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    font-size: 2rem;
}

.numbers-grid > * {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    cursor: pointer;
    border: 1px solid var(--light-gray);
    border-radius: 10px;
}

.cero {
    grid-column: span 2;
}

.borrar {
    background-color: var(--dark);
    color: var(--light);
}

.inputs-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.buscador {
    padding: 0.5rem;
    border: none;
    border: 1px solid var(--border-color);
    border-radius: 50px;
    width: 100%;
}

.filtro-categoria {
    padding: 0.5rem;
    border: none;
    border: 1px solid var(--border-color);
    border-radius: 50px;
    cursor: pointer;
}

.btn-cancel-modal {
    background-color: var(--dark); 
    color: var(--light);
    font-weight: bold;
    width: 5rem;
    font-size: 2rem;
    padding: 1rem;
}

.btn-realizar-compra {
    background-color: var(--btn-primary); 
    color: var(--light);
    font-weight: bold;
    width: 10rem;
    font-size: 2rem;
    padding: 1rem;
}