<div *ngIf="!ventasPorProducto.length" class="mt-5">
    <h3>No se han encontrado ventas aún</h3>
</div>

<table class="table table-striped mt-5">
    <thead>
        <th>Nombre</th>
        <th>Cantidad Vendida</th>
        <th>Importe</th>
        <th>Total</th>
    </thead>

    <tbody>
        <tr class="table-columns-productos" *ngFor="let producto of ventasPorProducto">
            <td>{{ producto.nombreProducto }}</td>
            <td>{{ producto.cantidad }}</td>
            <td>${{ producto.importe }}</td>
            <td>${{ producto.total }}</td>
        </tr>
        <tr></tr>
        <tr>
            <td class="total-ventas"><h3>Total de las ventas({{ getTotalCantidad() }})</h3>:</td>
            <td></td>
            <td></td>
            <td class="total-ventas"><h3>${{ getTotalVentas() }}</h3></td>
        </tr>
    </tbody>
</table>
