<app-navbar-admin></app-navbar-admin>
<div class="ventas-filtro-container mt-3 p-4">
  <section>
    <h2>Ventas Generales</h2>
  
    <div class="filtros-container mt-5">
  
      <!--FILTRO DÍA-->
      <div class="filtro-dia-cmbox">
        <select [(ngModel)]="filtroPorDia" name="" id="" class="filtro">
          <option value="hoy">Hoy</option>
          <option value="ayer">Ayer</option>
          <option value="ultimos-7-dias">Últimos 7 días</option>
          <option value="ultimos-30-dias">Últimos 30 días</option>
          <option value="mes-pasado">Mes pasado</option>
          <option value="este-año">Este año</option>
          <option value="año-pasado">Año pasado</option>
          <option value="otro">Otro</option>
        </select>
      </div>
  
      <!--FILTRO FECHA ESPECÍFICA O RANGO-->
      <div *ngIf="filtroPorDia === 'otro'" class="mt-4 filtro-fecha">
  
        <div class="fecha-container">
          <div>
            <input [(ngModel)]="radioFiltroFecha" id="fecha-especifica" type="radio" value="fecha-especifica"> 
            <label for="fecha-especifica">Fecha específica</label>
          </div>
          <input type="date" [(ngModel)]="filtroFechaEspecifica" [disabled]=" radioFiltroFecha !== 'fecha-especifica' ">
        </div>
  
        <div class="fecha-container">
          <div>
            <input [(ngModel)]="radioFiltroFecha" id="rango-fechas" type="radio" value="fecha-rango">
            <label for="rango-fechas">Rango de fechas</label>
          </div>
  
          <div>
            <input type="date" [(ngModel)]="filtroFechaInicio" [disabled]=" radioFiltroFecha !== 'fecha-rango' ">
            <input type="date" [(ngModel)]="filtroFechaFin" [disabled]=" radioFiltroFecha !== 'fecha-rango' ">
          </div>
        </div>
      </div>
  
      <!--FILTRO HORA-->
      <div class="filtro-hora mt-4">
        <div>
          <label for="">Hora Inicio:</label>
          <select [(ngModel)]="filtroHoraInicio" name="" id="" class="horas">
            <option value="x">Escoge una hora</option>
            <option *ngFor="let hora of horas" value="{{ hora.value }}">{{ hora.viewValue }}</option>
          </select>
        </div>
  
        <div>
          <label for="">Hora Fin:</label>
          <select [(ngModel)]="filtroHoraFin" name="" id="" class="horas">
            <option value="x">Escoge una hora</option>
            <option *ngFor="let hora of horas" value="{{ hora.value }}">{{ hora.viewValue }}</option>
          </select>
        </div>
      </div>
  
      <!--BOTON DE APLICAR FILTRO-->
      <button (click)="aplicarCambios()" class="mt-4 btn-aplicar-filtros">Aplicar cambios</button>
    </div>
  
  </section>
  
  <section>
    <div class="container-botones">
      <button
      (click)="exportarPDF()"
      *ngIf="ventas.length" class="btns btn-exportar">
      Exportar
    </button>

      <div class="radio-buttons-container d-flex gap-3">
        <div class="radio-button-row">
          <input id="radioVentasGeneral" type="radio" name="radioVenta" value="ventasGeneral" [(ngModel)]="ventasProductos">
          <label for="radioVentasGeneral"> Ventas generales</label>
        </div>
    
        <div class="radio-button-row">
          <input id="radioVentasProducto" type="radio" name="radioVenta" value="ventasProducto" [(ngModel)]="ventasProductos">
          <label for="radioVentasProducto"> Ventas por producto</label>
        </div>
      </div>
    </div>

    <div class="container-ventas mt-3">
      <app-ventas-general *ngIf="ventasProductos === 'ventasGeneral'" [ventas]="ventas" [origen]="'admin'"></app-ventas-general>

      <div *ngIf="ventasProductos === 'ventasProducto'" class="ventas-por-producto">
        <app-ventas-productos [ventasPorProducto]="ventasPorProducto"></app-ventas-productos>
      </div>
    </div>
  </section>
</div>