body {
    position: relative;
}

.main-container {
    display: grid;
    grid-template-columns: 60% 1fr;
}

.image-container {
    height: 100vh;
    background-image: url('../../../assets/images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.btn-ingresar {
    padding: 1rem;
    width: 15rem;
    border: none;
    border-radius: 20px;
    background-color: var(--btn-limpiar);
    color: var(--light);
    margin-top: 4rem;
    font-size: 2rem;
}

.logo-image {
    width: 17rem;
    z-index: -1;

    position: absolute;
    bottom: 0;
    right: 10%;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh; 
    padding: 3.5rem;
}