<section class="main-container">
    <h2 class="bold">PROGRAMA DE PUNTO DE VENTA</h2>
    <p>Hola, Bienvenido de vuelta 👋</p>

    <div class="login-form-container">
        <div class="login-form-row">
            <p class="bold"><label for="username">Usuario:</label></p>
            <input [(ngModel)]="usuario.usuario" id="username" class="input-text" type="text" placeholder="Ingrese su usuario">
        </div>

        <div class="login-form-row mt-5">
            <p class="bold"><label for="password">Contraseña:</label></p>
            <input [(ngModel)]="usuario.password" id="password" class="input-text" type="password" placeholder="Ingrese su contraseña">
        </div>

        <div class="d-flex justify-content-center">
            <button (click)="iniciarSesion()" class="btn-ingresar">Ingresar</button>
        </div>
    </div>
</section>

<!-- <img class="logo-image" src="/assets/images/logo.svg" alt="Logo de la empresa"> -->
