/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monsterrat', sans-serif;
}

:root {
    --black: #000;
    --dark: #2E2E2E;
    --light: #fff;
    --gray: #C9C9C9;
    --card-gray: #F4F4F4;
    --light-gray: #ccc;
    --light-white-gray: #f8f8f8;
    --main-purple: #5259ff;
    --main-purple-hover: #3f46e5;
    ---error-red: #ff5252;
}

@font-face {
  font-family: 'Monsterrat';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Monsterrat-bold';
    font-style: normal;
    font-weight: bold;
    src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Monsterrat-bold';
}

.btns {
    border: none;
    padding: 1rem;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: var(--light);
}

.bold {
    font-weight: bolder;
}

.input-text {
    padding: 1rem;
    border-radius: 5px;
    width: 100%;
    border: 1px solid var(--light-gray);
}

.circle {
    border-radius: 100%;
}

.custom-row {
    margin-right: 0;
    margin-left: 0;
}

.filtro {
    border: none;
    border-radius: 5px;
    color: var(--light);
    background-color: var(--dark);
    padding: 10px;
    width: 30rem;
}

.mensaje-error {
    color: var(---error-red);
}

.btn-agregar {
    background-color: var(--main-purple);
    color: var(--light);
}
