* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monsterrat', sans-serif;
    color: var(--text-color);
}

:root {
    --black: #000;
    --dark: #2E2E2E;
    --light: #fff;
    --gray: #C9C9C9;
    --card-gray: #F4F4F4;
    --light-gray: #ccc;
    --light-white-gray: #f8f8f8;
    --main-purple: #5259ff;
    --main-purple-hover: #3f46e5;
    ---error-red: #ff5252;
    --background: #F5F8FB;
    --text-color: #495A6F;
    --border-color: #D9D9D9;
    --card-color: #C3CDE0;
    --btn-limpiar: #142233;
    --btn-primary: #397CF7;
    --desh: #F5F8FB;
    --navbar-gray: rgb(94, 94, 94);
    --navbar-color: #142233;
    --navbar-hover: #2B486A;
    --disabled-icon: #465B73; 
}

@font-face {
  font-family: 'Monsterrat';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Monsterrat-bold';
    font-style: normal;
    font-weight: bold;
    src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Monsterrat-bold';
    margin: 0;
}

.btns {
    border: none;
    padding: 1rem;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: var(--light);
}

.bold {
    font-weight: bolder;
}

.input-text {
    padding: 1rem;
    border-radius: 20px;
    width: 100%;
    border: 1px solid var(--light-gray);
}

.circle {
    border-radius: 100%;
}

.custom-row {
    margin-right: 0;
    margin-left: 0;
}

.filtro {
    border: none;
    border-radius: 5px;
    color: var(--light);
    background-color: var(--dark);
    padding: 10px;
    width: 30rem;
}

.mensaje-error {
    color: var(---error-red);
}

.btn-agregar {
    background-color: var(--main-purple);
    color: var(--light);
}

.red {
    color: red;
}

.white {
    color: white !important;
}

.nav-icons {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}