/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Monsterrat';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Monsterrat-bold';
    font-style: normal;
    font-weight: bold;
    src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

:root {
    --light: #fff;
    --light-gray: #ccc;
    --main-purple: #5259ff;
    --main-purple-hover: #3f46e5;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Monsterrat-bold';
}

a {
    text-decoration: none;
    color: var(--light);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monsterrat', sans-serif;
}

.bold {
    font-weight: bolder;
}


