nav {
    background-color: var(--main-purple);
    color: var(--light);
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
}

.item-container {
    display: flex;
    gap: 2rem;
}

.nav-container {
    width: 95%;
    margin: auto;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav-container p {margin: 0; padding: 0;}